{% extends 'base.html' %}

{% block title %}Pending accounts{% endblock %}

{% block content %}
<h1>Pending accounts</h1>

<form action="/accounts?token={{ token }}" method="post">
  <table class="striped hoverable">
    <thead>
      <tr>
        <th>
          <input type="checkbox" id="select-all">
          <label for="select-all">Select all</label>
        </th>
        <th>E-mail</th>
        <th>Motivation</th>
      </tr>
    </thead>

    <tbody>
      {% for account in accounts %}
      <tr>
        <td>
          <input type="checkbox" name="items" value="{{ account.id }}">
        </td>
        <td>{{ account.email }}</td>
        <td>{{ account.invite_request }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if accounts | length > 0 %}
  <button name="submit" value="approve" class="primary">Approve selected</button>
  <button name="submit" value="reject" class="secondary">Reject selected</button>
  {% else %}
  <p>No accounts pending</p>
  {% endif %}
</form>
{% endblock %}
