<!doctype html>
<head>
<title>{% block title %}{% endblock %} - Mastodon moderator</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>
  <a href="/?token={{ token }}" class="logo">Mastodon Moderator</a>
  <a href="/accounts?token={{ token }}" class="button">Accounts</a>
  <a href="/reports?token={{ token }}" class="button">Reports</a>
</header>

<section class="content">
  {% block content %}{% endblock %}
</section>

<script src="{{ url_for('static', filename='main.js') }}"></script> 

</body>
</html>
